/* 页眉 */
.comwidth {width: 1280px;margin-left: auto;margin-right: auto;}
.top {border-bottom: 3px solid #dddddd;}
header {height: 92px;margin:0 auto;}
header a:hover {color: red;}
.leftlogo img:first-child {margin-left: 7px;margin-top: 15px;}
.leftlogo img:last-child {margin-top: 20px;margin-left: 7px;}
.center div {margin-left: 104px;margin-top: 31px;}
.center a {margin-right: 46px;font:bold 20px "微软雅黑";}
.righth div {margin-top: 36px;}
.righth a {font:bold 18px "微软雅黑";padding-left: 9px;padding-right: 9px;} 
.righth div a:first-child {border-right: solid 1px gray;}


/* 导航 */
nav {margin-top: 26px;margin-bottom: 34px;font: 17px "微软雅黑";}
nav ul li {float: left;}


.tit {padding-bottom: 18px;border-bottom: 4px solid #ddd;}
.tit h3 {font: bold 22px "微软雅黑";}


.content {margin-top: 22px;}
.content>a {display: inline-block;height: 60px;width: 60px; background:url(../images/icon/data@2x.png) no-repeat center center;border-radius: 50%;border: 2px solid #ddd;}
.content p {font-size: 17px;}
.content>div>p:first-child {height: 34px;line-height: 34px;}
.content>div>p:nth-child(2) {height: 28px;line-height: 28px;}
.content>div>p:nth-child(3) {line-height: 36px;}
.content>div>p:last-child {margin-top: 14PX;height: 45PX;line-height: 45PX;}
.content>div {padding-left: 12px;width: 1204px;border-bottom: 3px solid #ddd;}
.content>div>p:last-child span {margin-right: 66px;}

.comment {margin-top: 34px;}
.comment>div {padding-left: 12px;width: 1204px;}
.comment>a,.response>div>a{display: inline-block;height: 50px;width: 50px; background:url(../images/icon/data@2x.png) no-repeat center center;border-radius: 50%;border: 2px solid #ddd;}
.comment a{color: #f89057}
.comment p {font-size: 17px;}
.comment>div>p {line-height: 26px;}
.response {padding: 0px 10px 25px;border: solid 2px #ddd;}
.response>div {margin-top: 14px;}

.box textarea{margin-left: 66px; height: 108px;width: 1204px;resize: none;font-size: 18px;border:2px solid #ddd}
.box>div {margin-left: 66px;}
.box>div>img {margin-right: 20px;}
.box button {width: 96px;height: 34px;color:#e31016;background: white;border: 2px solid #e31016;font:bold 15px "微软雅黑";border-radius: 5px;}